In [8]:
string = 'hi my is name is melroy'
string.rpartition('is')

('hi my is name ', 'is', ' melroy')

In [9]:
string.partition('is')
string.strip()
string.lower()
string.upper()
string.replace('hi', 'ho')
string.count('is')
string.startswith('hi')
string.endswith('melroy')
string.split()
string.index('is')
string.isalpha()
string.find('melroy')

17

In [10]:
res = 'my name is {2} {1} {0}'

res.format('melroy', 'denston', 'pereira')

'my name is pereira denston melroy'

In [11]:
# "seperator".join('iterable')
my_list = ['p', 'y', 't', 'h', 'o', 'n']
"".join(my_list)

'python'

In [12]:
string = '1243'

string.isalpha()
string.isalnum()
string.isnumeric()
string.isdecimal()
string.isupper()
string.islower()

False

In [ ]:
# list

mylist = ['one',1, 2, 3]

mylist.append(4)
mylist.pop()
mylist.remove("one")
mylist.insert(5, 4) #index #value
mylist.reverse()
mylist.sort()
mylist.count("one")

In [ ]:
# tuples
mytuple = (2, 'three', 'three', 5, [3, 5])
mytuple.count('three')
mytuple.index('three')

2

In [48]:
#sets

my_set = {1, 1, 3, 5, 'five'}
my_set.add(878)  # only one item can be added
my_set.update([44,6,76,88,655])
my_set.remove('five')

In [49]:
# set operation

In [69]:
# dict

mydict = {0:'zero', 1:'one', 2: 'two'}

mydict.fromkeys([8,6])
mydict.update({8: 'eight', 9: 'nine'})
mydict.keys()
mydict.values()
mydict.get(9)
mydict.items()
mydict.pop(9)
mydict.popitem()

(8, 'eight')

In [ ]:
# function 
    # 1. args, kwargs
    # 2. lambda

# map , filter, reduce

# abstraction , encapsulation
# generator iterator
# method overriding

In [18]:
#*args → accepts any number of positional arguments (as a tuple)

#**kwargs → accepts any number of keyword arguments (as a dict)
# def add(a, b):
#     sum = a+b
#     return sum

def add(*args):
    
    return sum(args)

add(6, 6, 6)

18

In [20]:
a = lambda x,y : x+y
a(2,2)

4

In [21]:
pairs = [(1, 3), (2, 1), (4, 2)]
sorted_pairs = sorted(pairs, key=lambda x: x[1])
print(sorted_pairs)  # Output: [(2, 1), (4, 2), (1, 3)]

[(2, 1), (4, 2), (1, 3)]

In [24]:
mylist = [1, 2, 3, 4]

def even (num):
    if num%2 ==0:
        return num

list(map(lambda x:x**2, mylist))
list(filter(even, mylist))

[2, 4]

In [ ]:
# list & dict  comprehenstion 

[i for i in range(10) if i%2 ==0]
[i**2 for i in range(10) if i%2 ==0]
[(i,i**2) for i in range(10) if i%2 ==0]

text = "hello world"
['*' if c in 'aeiou' else c for c in text]  # using if else

['h', '*', 'l', 'l', '*', ' ', 'w', '*', 'r', 'l', 'd']

In [37]:
{k:v for k, v in enumerate(range(10))}

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

In [42]:
# 3. Filter Even Values
nums = {x: x**2 for x in range(10)}
{k: v for k, v in nums.items() if v % 2 == 0}

# swap key and values
original = {'a': 1, 'b': 2, 'c': 3}
{v: k for k, v in original.items()}

# 4. Character Count in a Word
word = "data"
{char: word.count(char) for char in word}

# 5. Create Dictionary from Two Lists
keys = ['name', 'age', 'city']
values = ['Melroy', 27, 'Udupi']
{k: v for k, v in zip(keys, values)}

{'name': 'Melroy', 'age': 27, 'city': 'Udupi'}