In [40]:
string = 'hi my is name is melroy'
string.rpartition('is')

('hi my is name ', 'is', ' melroy')

In [41]:
string.partition('is')
string.strip()
string.lower()
string.upper()
string.replace('hi', 'ho')
string.count('is')
string.startswith('hi')
string.endswith('melroy')
string.split()
string.index('is')
string.isalpha()
string.find('melroy')

17

In [42]:
res = 'my name is {2} {1} {0}'

res.format('melroy', 'denston', 'pereira')

'my name is pereira denston melroy'

In [ ]:
string = '1243'

string.isalpha()
string.isalnum()
string.isnumeric()
string.isdecimal()
string.isupper()
string.islower()

True

In [ ]:
# list

mylist = ['one',1, 2, 3]

mylist.append(4)
mylist.pop()
mylist.remove("one")
mylist.insert(5, 4) #index #value
mylist.reverse()
mylist.sort()
mylist.count("one")

In [ ]:
# tuples
mytuple = (2, 'three', 'three', 5, [3, 5])
mytuple.count('three')
mytuple.index('three')

2

In [48]:
#sets

my_set = {1, 1, 3, 5, 'five'}
my_set.add(878)  # only one item can be added
my_set.update([44,6,76,88,655])
my_set.remove('five')

In [49]:
# set operation

In [69]:
# dict

mydict = {0:'zero', 1:'one', 2: 'two'}

mydict.fromkeys([8,6])
mydict.update({8: 'eight', 9: 'nine'})
mydict.keys()
mydict.values()
mydict.get(9)
mydict.items()
mydict.pop(9)
mydict.popitem()

(8, 'eight')

In [ ]:
# function 
    # 1. args, kwargs
    # 2. lambda

# map , filter, reduce

# abstraction , encapsulation
# generator iterator
# method overriding

In [80]:

# def add(a, b):
#     sum = a+b
#     return sum

def add(*args):
    
    return sum(args)

In [81]:
add(6, 6, 6)

18

In [85]:
a = lambda x,y : x+y

In [91]:
mylist = [1, 2, 3, 4]

def even (num):
    if num%2 ==0:
        return num

list(map(lambda x:x**2, mylist))
list(filter(even, mylist))

[2, 4]